<%- include('templates/header') %>
<%- include('templates/navigation') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-5 text-center text-welcome">Welcome To <span>Express-Custom</span></h1>
            <p class="description">express-custom is an express framework development where developers don't need to create an express framework from scratch, but developers can use it directly with little configuration. The ease of using express-custom makes it helpful for developers to develop their applications. others like the following</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-3">
            <div class="box">
                <h3 class="title-box">Easy</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box">
                <h3 class="title-box">Fast</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box">
                <h3 class="title-box">Small</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box">
                <h3 class="title-box">Beautiful</h3>
            </div>
        </div>
    </div>
</div>


<%- include('templates/footer') %>